.table-scroll {
    display: block;
    overflow-x: auto;
}

.table-scroll {
    --sb-track-color: #dcd8d8;
    --sb-thumb-color: #9e9b9b;
    --sb-size: 12px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.table-scroll::-webkit-scrollbar {
    width: var(--sb-size)
}

.table-scroll::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

.table-scroll::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 3.5px solid #dcd8d8;

}