.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.main-body {
    overflow: hidden;
}

.sidebar {
    position: relative;
    overflow-y: auto;
    /* width: 260px; */
}

.sidebar {
    --sb-track-color: #dcd8d8;
    --sb-thumb-color: #9e9b9b;
    --sb-size: 12px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.sidebar::-webkit-scrollbar {
    width: var(--sb-size)
}

.sidebar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 3.5px solid #dcd8d8;

}